html{
	font-size: 20px;
}
body{
	margin: 0;
	padding:0;
	background-color:#0e0e11;
}
header { /*Screen = 3840*2160*/
	height: 95vh;	
	background-image: url(images/background.jpg); /* need to mess around with this, maybe make it a div later and try and vignette it?*/
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 3vh;
	border-bottom: 2px solid red;
	position: relative;
}
.headerLogoNavbar{ /*header section containing the logo and the hidden navbar = the navbar access icon*/
	height: 5vh;
	display: flex;
	justify-content: space-between;
	padding: 0 4vw;
}
.LogoImageWrapper {
	height: 100%;
	
	width:2vw;
}
#logo{
	margin-top: 10px;
	height: 100%;
	width:2.5vw;
	margin: 0;
	overflow:hidden;
	border-radius: 50px;
}
#logo img{
	height: 100%;
	width: 120%;
	object-fit: cover;
}
#headerNav{
	height: 100%;
	width:3vw;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family:"Noto Serif JP", serif;
	color: white;
	position: relative;
	font-size: 0.9rem;
}
#menuBars::before{
	position: absolute;
    display: block;
    top: 55%;
	content: "";
    height: 2px;
    width: 18px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out 0s;
}
#menuBars::after{
	position: absolute;
    display: block;
    top: 45%;
	content: "";
    height: 2px;
    width: 24px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out 0s;
}
.portfolioHeaderMain{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 15vh;
	position: relative;
}
h1 {
	color: white;
	font-family: 'Impact', sans-serif;
	font-weight: 100;
	letter-spacing: 0.4rem;
	font-size: 2rem;
}
.lay{
	width: 100%;
	color: white;
	text-align: center;
	position: absolute;
	top: 25%;
	font-size: clamp(48px, 10vw, 180px);
	font-family: 'Noto Serif JP', serif;
	font-weight: 500;
	letter-spacing: 0.5rem;
}
.under{
	display: block;
	font-size: 15vw;
	opacity: 0.3;
}
.scrollReminder{
	position: absolute;
	bottom: 0;
	left: 3%;
	color: white;
	border: 2px solid white;
	padding: 8px;
	padding-bottom: 0;
	border-radius: 15px 15px 0 0;
	border-bottom: none;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
}
.down{
	transform: rotate(45deg);
}
/*========================================================================================================================================================================
																				^ HEADER SECTION ^
/*========================================================================================================================================================================*/
main{
	border: solid green;
	height: min-content;
}
.thumbnailHolder {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 0 2%;
}
.thumbnails{
	height: 38vh;
	width: 28vw;
	padding: 2% 0;
	
}
.thumbnails img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	
}
figcaption {
	color: white;
	margin-top: 10px;
	font-family: trebuchet MS;
}