:root{
    --colourScheme-color: #93BC34;
    --colourSchemeText-color: #ffffff;
    --background-backgroundColor: rgba(244, 148, 13, 0.534);
    --TestBorder-border: 1px solid #93BC34; 
    --UnderlineBorder-border: 2px solid rgba(244, 148, 13, 0.8); 
    --profilePic-shadow: #f3d0ae;
    --bodyBackground : #0e0e11;
}

html{
	font-size: 20px;

}
body{
    margin: 0;
	padding:0;
	background-color:var(--bodyBackground);
	overflow-x: hidden;
    max-width: 100%;
}

.Homepage__container{
    /*Holds the other main sections of header, main and footer*/
    width: 100vw;
    height: 98vh;	
	padding-top: 2vh;
    display: flex;
    flex-direction: column;  
    background-image: url(images/mainbgImage.jpg); 
	background-size: 100%;
    background-attachment: fixed;
	background-repeat:no-repeat;
	background-position: center;
    margin: 0;
}

.Homepage__container-header{
  
    height: 100vh;
    color: var(--colourSchemeText-color);
    background-image: url(images/background.jpg); /* need to mess around with this, maybe make it a div later and try and vignette it?*/
	background-size: 53%;
	background-repeat: no-repeat;
	background-position: center;
   
}

/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                            Homepage__container-header-navbar
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.Homepage__container-header-navBar{
    width: 100%;
    height:10%;
    padding: 1%;    
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    position: fixed;
    z-index: 3000;
}
#logo {
    margin-left: 25%;
}
#logo img {
    height: 7vh;
    width: 3.5vw;
    border-radius: 50%;   
    transition: 600ms linear;
}
.logo-glow-effects{
    box-shadow: 0px 0px 10px 3px var(--profilePic-shadow);
    transition: 300ms linear;
}
.Homepage__container-header-navBar_nav-expandedItems{
    width: 300px;
    height: auto;
    position: relative;
}
.Homepage__container-header-navBar_nav{
    width: 4vw;
    height: 2vh;
    margin-right: 8%;
    margin-top: 0.5%;
    font-size: 0.9rem;
    position: relative;
    overflow: hidden; 
}
.menuItemsText{
    position:absolute;
    left: 375%;
    top: 11px;  
    cursor: pointer;
    opacity: 0;
    transition: all 500ms ease-out;
    width:fit-content
}
.menuItemsText:hover{
    color: var(--colourScheme-color);
}
#navBar-menu, #navbar-expand {
    transition: transform 300ms;	
}
.Homepage__container-header-navBar_navHoverExpand{
    transform: translate(0,-62px);
	transition: transform 300ms;
}
.Homepage__container-header-navBar_navHover{
    transform: translate(0,-30px);
	transition: transform 300ms;
}
.Homepage__contiainer-header_navBar_nav-items{
    height: inherit;
    font-family:"Noto Serif JP", serif;
}

.Homepage__contiainer-header_navBar_nav-items:hover{
    cursor: pointer;
}

#menuBars::before{
	position: absolute;
    display: block;
    top: 50%;
    left: 70%;
	content: "";
    height: 2px;
    width: 18px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

#menuBars::after{
	position: absolute;
    display: block;
    top: 20%;
    left: 70%;
	content: "";
    height: 2px;
    width: 24px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.Homepage__container-header-underline{
    height: 0;
    width: 100%;
    border: var(--UnderlineBorder-border);
    display: none;
    
}
.homepage__header-mobile_menu{
    position: fixed;
    margin-top: 13.5%;
}
.homepage__header-mobile_menu_list{
    width: fit-content
}
.homepage__header-mobile_menu_list li{
    list-style: none;
    display: none;
    color: var(--colourSchemeText-color);
    text-align: center;
}

/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                            Homepage__container-titleCard
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.Homepage__container-titleCard{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    justify-content: center; 
    margin: 0;
}
.Homepage__container-titleCard_h1{
    color: --colourSchemeText-color;
    font-family: 'Impact', sans-serif;  
    letter-spacing: 0.4rem;
    font-size: 3.5rem;
     
}

.lay{
    width: 100%;
	color: white;
	text-align: center;
	position: absolute;
	top: 26%;
    left:0;
    font-size: clamp(48px, 10vw, 180px);
	font-family: 'Noto Serif JP', serif;
	font-weight: 500;
	letter-spacing: 0.5rem;
}

.Homepage__container-titleCard_imageText_under{
    display: block;
    font-size: 15vw;
    opacity: 0.3;
    top: 30%
}
.scrollReminder{
	position: absolute;
	bottom: 0;
	left: 3%;
	color: var(--colourSchemeText-color);
	border: 2px solid var(--colourScheme-color);
	padding: 8px;
	padding-bottom: 0;
	border-radius: 15px 15px 0 0;
	border-bottom: none;
	transition: all 450ms ease-in-out;
	width: 150px;
	letter-spacing: 0.1rem;
	cursor: pointer;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
}
.down{
	transform: rotate(45deg);
}
.scrollReminder:hover{
	padding-bottom: 50px;
	transition: all 350ms ease-in-out;
	background-color: #141E28;
}
.scrollBarGone{
	opacity: 0;
	transition: 500ms linear;
	visibility: hidden;
}
@media screen and (300px <= width < 768px){
    .body{
        margin: 0;
        padding: 0;
    }
    .Homepage__container{
        background-image: url(images/phonebgimage.jpg);
        padding: 0;
    }
    .Homepage__container-header-navBar{
        padding: 0;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        top:0;
        background-color: var(--background-backgroundColor);      
        border-bottom: 2px solid var(--colourSchemeText-color);
        
    }
    .Homepage__contiainer-header_navBar_nav-items, #menuBars{
        display: none;
    }
    .Homepage__container-header-navBar_logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .Homepage__container-header-navBar_nav{
        width: 100vw;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .homepage__header-mobile_menu_list li {
        display: inline;
        margin: 20px
    }
    .scrollReminder{
        display: none;
    }
    .Homepage__container-header-navBar_nav-expandedItems{
      display: none;
    }
    .Homepage__container-header-navBar_nav-mobile {
        height: 40px;
        width: 100%;
        text-align: center;
        word-spacing: 1rem;
    }
    .Homepage__container-header-navBar_nav-mobile ul li{
        display: inline;
    }
    .menuItemsText{
       position: relative;       
    }
    #logo{
        margin: 0;
        margin-top: 2.5%;
    }
    #logo img{
        height: 6.5vh;
        width: 12vw;
        border-radius: 50%;   
        
    }
    .Homepage__container-header-underline{
       display: flex;
       align-self: flex-end;
    }
    .Homepage__container-titleCard_h1{
        font-size: 2rem;
        text-align: center;
        margin: 0;
        margin-top: 20%;
        
       
    }
    .Homepage__container-header{
        background-position: 50% 70%;
        background-size: 150%;
    }
    .lay{
     top: 50%   
    }
    .Homepage__container-titleCard_imageText_under{
        top: 53%;
        font-size: 3.5rem;
    }
}
@media screen and (768px <= width <1024px){
    .body{
        margin: 0;
        padding: 0;
    }
    .Homepage__container{
        background-image: url(images/phonebgimage.jpg);
        padding: 0;
    }
    .Homepage__container-header-navBar{
        padding: 0;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        top:0;
        background-color: var(--background-backgroundColor);      
        border-bottom: 2px solid var(--colourSchemeText-color);
        
    }
    .Homepage__contiainer-header_navBar_nav-items, #menuBars{
        display: none;
    }
    .Homepage__container-header-navBar_logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .Homepage__container-header-navBar_nav{
        width: 100vw;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .homepage__header-mobile_menu{
        width: 100%;
    }
    .homepage__header-mobile_menu_list{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .homepage__header-mobile_menu_list li {
        display: inline;
        margin: 20px
    }
    .scrollReminder{
        display: none;
    }
    .Homepage__container-header-navBar_nav-expandedItems{
      display: none;
    }
    .Homepage__container-header-navBar_nav-mobile {
        height: 40px;
        width: 100%;
        text-align: center;
        word-spacing: 1rem;
    }
    .Homepage__container-header-navBar_nav-mobile ul li{
        display: inline;
    }
    .menuItemsText{
       position: relative;       
    }
    #logo{
        margin: 0;
        margin-top: 2.5%;
    }
    #logo img{
        height: 7vh;
        width: 10vw;
        border-radius: 50%;   
        
    }
    .Homepage__container-header-underline{
       display: flex;
       align-self: flex-end;
    }
    .Homepage__container-titleCard_h1{
        font-size: 2rem;
        text-align: center;
        margin: 0;
        margin-top: 20%;           
    }
    .Homepage__container-header{
        background-position: 50% 70%;
        background-size: 150%;
    }
    .lay{
     top: 50%   
    }
    .Homepage__container-titleCard_imageText_under{
        top: 53%;
        font-size: 5rem;
    }
}
@media screen and (1024px <= width <1600px){
    .body{
        margin: 0;
        padding: 0;
   
    }
    .Homepage__container{
        background-image: url(images/phonebgimage.jpg);
        padding: 0;
    }
    .Homepage__container-header-navBar{
        padding: 0;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        top:0;
        background-color: var(--background-backgroundColor);      
        border-bottom: 2px solid var(--colourSchemeText-color);
        height: 100px;
        
    }
    .Homepage__contiainer-header_navBar_nav-items, #menuBars{
        display: none;
    }
    .Homepage__container-header-navBar_logo{
        width: 100%;
        display: flex;
        margin-left: 20px;
        justify-content: left;
    }
    .Homepage__container-header-navBar_nav{
        width: 100vw;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .homepage__header-mobile_menu{
        width: 100%;
        margin-top: 8.8%;
      
    }
    .homepage__header-mobile_menu_list{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .homepage__header-mobile_menu_list li {
        display: inline;
        margin: 20px
    }
    .scrollReminder{
        display: none;
    }
    .Homepage__container-header-navBar_nav-expandedItems{
      display: none;
    }
    .Homepage__container-header-navBar_nav-mobile {
        height: 40px;
        width: 100%;
        text-align: center;
        word-spacing: 1rem;
    }
    .Homepage__container-header-navBar_nav-mobile ul li{
        display: inline;
    }
    .menuItemsText{
       position: relative;       
    }
    #logo{
        margin: 0;
        margin-top: 0.5%;
    }
    #logo img{
        height: 10vh;
        width: 10vw;
        border-radius: 50%;   
        
    }
    .Homepage__container-header-underline{
       display: flex;
       align-self: flex-end;
    }
    .Homepage__container-titleCard_h1{
        font-size: 2rem;
        text-align: center;
        margin: 0;
        margin-top: 20%;           
    }
    .Homepage__container-header{
        background-position: 50% 70%;
        background-size: 100%;
    }
    .lay{
     top: 50%   
    }
    .Homepage__container-titleCard_imageText_under{
        top: 53%;
        font-size: 7rem;
    }    
}
@media screen and (1600px <= width < 1920px){
    #logo{
        margin: 0;
        margin-top: 0.5%;
    }
    #logo img{
        height: 7vh;
        width: 4vw;
        border-radius: 50%;   
    }
    .scrollReminder{
        bottom: 0px;
    }
    .Homepage__container-header-navBar_nav{
       margin-top: 0;
    width: 6%;
    }
    #menuBars::before{
        top: 40%;
        left:80%
    }
    #menuBars::after{
        top: 70%;
        left: 80%
    }
    .menuItemsText{
        top: -3px;
    }
}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                            Main__container
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.Homepage__container-main{
     height: max-content;
     display: block;  
     margin: 0;
}
.Homepage_container-main_heightMaker{
    height: 100px;
  
}
.Homepage__container-main_Images {
    width: 95%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.Homepage__container-main_Images-thumbnails{
	width: 28vw;
    height: 38vh;
    object-fit: cover;
	cursor: pointer;
    
}
.Homepage__container-main_Images-thumbnails img{
    width: 100%;
    height: 90%;
    object-fit: fill;
    transition: all 350ms ease-in;
}
figcaption {
    color: white;
	margin-top: 10px;
	font-family: trebuchet MS;
}
@media screen and ( 900px <= width) {

    .Homepage__container-main_Images-thumbnails:hover img{
        transform: scale(0.95);
        transition: all 250ms ease-out;
    }
    
}
@media screen and (300px <= width < 768px){
    .Homepage__container-main_Images{
     justify-content: center;
     width: 100vw;
    }
    .Homepage__container-main_Images-thumbnails{
        width: 100%;
    }
   figcaption{
    text-align: center;
   }
}
@media screen and (768px <= width < 1024px){
    .Homepage__container-main_Images{
     justify-content: center;
     margin: 0;
     width: 97vw;
    }
    .Homepage__container-main_Images-thumbnails{
        width: 100%;
    }
   figcaption{
    text-align: center;
   }
}

/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                            Footer__container
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.Homepage__container-footer{
 
    display: flex;
	justify-content: space-between;
	flex-direction: column;
    background-image: url(images/mainbgImage.jpg); 
	background-size: 100%;
    background-attachment: fixed;
	background-repeat:no-repeat;
	background-position: center;
}
.Homepage__container-footer_Contact {
	padding: 0 30px;
	padding-top: 100px;
	padding-bottom: 25px;
	width:fit-content;
	height: max-content;
	color: white;
	font-size: clamp(36px, 5vw, 180px);
	font-family: 'Noto Serif JP', serif;
	font-weight: 500;
	letter-spacing: 0.5rem;
	opacity: 0.7;
	text-align: center;
	align-self: center;
	cursor: pointer;
	transition: background-color 1s,border 3s ,text-shadow 7s; 
	border: 2px solid transparent;
    margin:1rem;

}
#Homepage__container-footer_Contact_p{
	font-size: 22%;
	text-align: center;
}
.Homepage__container-footer_Contact-hover{
	background-color: #17171c;
	text-shadow: 2px 2px 10px #e87c17;
	border: 2px solid #93BC34;
	transition: background-color 500ms,border 1s ,text-shadow 500ms;
}
.lineholder{
	width: 2vw;
	border-top:2px solid#93BC34;
	margin: 0 auto;
}
.lineholderChange{
	width: 90vw;
	border-top:2px solid#93BC34;
	margin: 0 auto;
	transition: all 500ms ease-out;
}

.Homepage__container-footer_Extras{
	display: flex;
	justify-content:space-between;
	align-items: flex-end;
	height: 200px;
	padding: 0 100px;
	position: relative;
	overflow: hidden;
    color: var(--colourSchemeText-color);
}
.Homepage__container-footer_Extras_children, .Homepage__container-footer_Extras_children-Social{
	height: max-content;
	width: 5%;
	margin-bottom: 50px;
	color: white;
	text-align: center;
	font-size: 1rem;
}
.footerAddOnChildSocial{
	cursor: pointer;
}
.Homepage__container-footer_Extras_children span{
	font-size: 14px;
}
.Homepage__container-footer_Extras-footerNav{
	position: absolute;
	right: 4%;
	top: 80%;
	width:fit-content;
	opacity: 0;
}
.Homepage__container-footer_Extras-footerNav li{
    display: inline;
    list-style: none;
    margin-left: 2rem;    
}
#footerNavid{
	transition: all 300ms linear;
}
#socialTags{
	transition: all 300ms linear;
}
.footerNav ul{
	padding: 0;
	margin: 0;

}
.footerNav ul li{
	display: inline;
	padding: 15px  10px;
	letter-spacing: 3px;
	font-weight: 500;
	cursor: pointer;
	transition: all 300ms linear;
}
.footerNav ul li:hover{
	color:#93BC34;
	transition: all 250ms linear;
}
.socialChanges{
	transform: translate(0,-50px);
	transition: all 180ms linear;
	opacity: 0;
}
.socialSymbolChanges{
	transform: translate(0,-50px);
	transition: all 180ms linear;
	opacity: 1;
}


#returnToTop{
	position: relative;
	cursor: pointer;
}

#returnToTop:after{
	position: absolute;
    display: block;
    top: 45%;
	left: 95%;
	content: "";
    height: 2px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    transition: all 250ms ease-out;
	margin:0 auto;
}

#returnToTop:hover:after{
	width: 5px;
	transition: all 500ms ease-in;
}
.Homepage__container-footer_Extras-footerNav-mobile{
    display: none;
}

.footer__socialMedia_change{
	transform: translate(0,-50px);
	transition: all 180ms linear;
	opacity: 0;
}
.footer__socialMedia_change-icons{
	transform: translate(0,-50px);
	transition: all 180ms linear;
	opacity: 1;
}
.footer__socialMedia_change-icons li:hover{
    cursor: pointer;
    color: var(--colourScheme-color);
}
@media screen and (300px <= width < 678px){
    .Homepage__container-footer{
        background-image: url(images/phonebgimage.jpg);
    }
    #Homepage__container-footer_Contact_p{
        font-size: 50%;
    }
    .lineholder{
        width: 90%;
        margin-bottom: 1rem;
    }
    .Homepage__container-footer_Extras {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Homepage__container-footer_Extras_children{
        width: auto;
        margin-bottom: 22px;
    }
        
    .Homepage__container-footer_Extras-footerNav-mobile{
        color: var(--colourSchemeText-color);        
        width: 100%;
        height: 20%;
        margin-bottom: 22px;
        margin-right: 15px;
        display: inline;
    }
    .Homepage__container-footer_Extras-footerNav-mobile li{
        list-style: none;
        display: inline;
    }
    #returnToTop, .Homepage__container-footer_Extras_children-Social{
        display: none;
    }
    .Homepage__container-footer_Extras-footerNav{
        display: none;
    }
}
@media screen and (768px <= width < 1024px){
        .Homepage__container-footer_Contact{
            margin: 4rem;
        }
        #Homepage__container-footer_Contact_p{
            font-size: 50%;
        }
        .lineholder{
            width: 90%;
            margin-bottom: 1rem;
        }
        .Homepage__container-footer_Extras {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
        }
        .Homepage__container-footer_Extras_children{
            width: auto;
            margin-bottom: 22px;
        }
            
        .Homepage__container-footer_Extras-footerNav-mobile{
            color: var(--colourSchemeText-color);        
            width: 100%;
            height: 20%;
            margin-bottom: 22px;
            margin-right: 15px;
            display: inline;
        }
        .Homepage__container-footer_Extras-footerNav-mobile ul{
            padding: 0;
        }
        .Homepage__container-footer_Extras-footerNav-mobile li{
            list-style: none;
            display: inline;
        }
        #returnToTop, .Homepage__container-footer_Extras_children-Social{
            display: none;
        }
        .Homepage__container-footer_Extras-footerNav{
            display: none;
        }
}
@media screen and (1024px <= width < 1600px){
     .Homepage__container-footer_Contact{
        margin: 2rem;
    }
    #Homepage__container-footer_Contact_p{
        font-size: 50%;
    }
    .lineholder{
       display: none;
    }
    .Homepage__container-footer_Extras {
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2rem
        
    }
    .Homepage__container-footer_Extras_children{
        width: fit-content;
        margin-bottom: 22px;
    }
        
    .Homepage__container-footer_Extras-footerNav-mobile{
        color: var(--colourSchemeText-color);        
        width: 100%;
        height: 20%;
        margin-bottom: 22px;
        margin-right: 15px;
        display: inline;
    }
    .Homepage__container-footer_Extras-footerNav-mobile ul{
        padding: 0;
        margin: 0;
    }
    .Homepage__container-footer_Extras-footerNav-mobile li{
        list-style: none;
        display: inline;
    }
    #returnToTop, .Homepage__container-footer_Extras_children-Social{
        display: none;
    }
    .Homepage__container-footer_Extras-footerNav{
        display: none;
    }
}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                            Footer__container
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
::-webkit-scrollbar {
	height: 12px;
	width: 16px;
	background-color: var(--bodyBackground);
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--colourScheme-color);
	border: 4px solid #141E28;
	border-radius: 50px; 
}
::-webkit-scrollbar-track {
    background-color: var(--bodyBackground);
    border: 0px none var(--colourSchemeText-color);
    border-radius: 50px;
}

